<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>[유저
        <%= career.userName %> 
    의 경력 정보]</h1>
    <h2>유저의 경력: <%= career.career %></h2>
</body>
</html>