<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
<<<<<<< HEAD
    <h1>[유저
        <%= career.userName %> 
    의 경력 정보]</h1>
    <h2>유저의 경력: <%= career.career %></h2>
=======
    <h1>[유저 
        <%= usn %>     
    의 정보]</h1>
    <h2>유저 커리어: <%- JSON.stringify(career) %></h2>
>>>>>>> model
</body>
</html>

