<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
    <h1> 전체키워드: <%= JSON.stringify(total) %> </h1>
    <h1> 추천키워드: <%= JSON.stringify(recommend) %></h1>
</body>
</html>