<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h3>로그인</h3>
    <form action="/auth/login" method="post">
        <table>
            <tr>
                <td>id : </td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td>비번 : </td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td><input type="submit" value="로그인"></td>
            </tr>
        </table>
    </form>
</body>
</html>