<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>User Total Keyword</title>
</head>

<body>
    <h1>[유저 
        <%= keyword[0].utk_USN %> 
    의 전체 키워드 정보]</h1>
    
    <h2>
    
    <%= keyword[0].utk_keyword_ID %>
    
    
    <br>
    </h2>
</body>

</html> 