<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>[유저 
        <%= user[0].usn %>     
    의 정보]</h1>
    <h2>유저 정보: <%- JSON.stringify(user[0]) %></h2>
</body>
</html>
